.petition-thanks-panel
  .thanks-wrapper
    = image_tag 'petition-complete-icon.png', class: 'petition-complete__icon'
    %p.petition-complete__title
      서명완료
    %p.petition-complete__message
      GMO완전표시제, 내가 바꿈!
      %br
      친구와 함께하면 바꿀 수 있어요.
    .thanks-social-wrapper
      = image_tag 'thanks-social-facebook.png', class: 'thanks-social__facebook'
      = image_tag 'thanks-social-twitter.png', class: 'thanks-social__twitter'
      = image_tag 'thanks-social-kas.png', class: 'thanks-social__kas'

