.description-panel
  %p.intro-body-mobile.visible-xs
    있으나마나한 현행 GMO표시제!
    %br.visible-xs
    과도한 규제로 NON-GMO 표시는 할 수 없습니다.
    %br
    식용유, 간장, 액상과당은 GMO원재료로 만들어도
    %br.visible-xs
    GMO 표시가 면제됩니다.
    %br
    매일 먹는 쌀의 2/3만큼의 GMO를 먹고 있지만
    %br.visible-xs
    알 수 있는 방법은 없습니다.
  %p.intro-message-mobile.visible-xs
    = image_tag 'double-qoutation-left.png', class: 'double-qoutation-left-mobile'
    %br
    투명한 GMO 정보 공개,
    %br
    알아보기 쉬운 GMO 표시!
    %br
    소비자 기본권입니다
    %br
    = image_tag 'double-qoutation-right.png', class: 'double-qoutation-right-mobile'
  %hr.visible-xs.intro-hr

  .description-wrapper
    %p.desc-title__first 개정안 내용
    %br.visible-xs
    .desc-body
      %p.desc-body__main
        %span.desc-content
          ①&nbsp;
        %span.desc-content
          GMO 원료를 썼다면 예외없이 표시
      %p.desc-body__main
        %span.desc-content
          ②&nbsp;
        %span.desc-content
          비의도적 혼입치 3%에서 0.9%로 낮추기 (유럽 기준)
      %p.desc-body__main
        %span.desc-content
          ③&nbsp;
        %span.desc-content
          비의도적 혼입치 0.9% 보다 낮다면 NON-GMO 표시 허용
      %p.desc-body__annotation-title
        ※ 비의도적 혼입치
      %p.desc-body__annotation-body
        GMO 꽃가루가 날아와 섞이는 경우처럼 우연히 섞인 GMO 양이 유럽 기준처럼 0.9% 이하라면 Non-GMO 표시를 허용해 생산자 피해를 보호할 수 있는 기준
    %br
    .desc-title__second-wrapper
      %p.desc-title__second 입법 청원 일정
      %br.visible-xs
      .desc-body
        %p.desc-body__main
          %span.desc-content
            ·&nbsp;
          %span.desc-content
            2016년 8월 국회 입법 청원
        %p.desc-body__main
          %span.desc-content
            ·&nbsp;
          %span.desc-content
            20대 국회에서 GMO완전표시제가 제도화될 때까지
            %br.hidden-xs
            지지 서명 캠페인 진행
