.description-panel
  .description-wrapper
    %p.desc-title__first 개정안 내용
    .desc-body
      %p.desc-body__main
        ① GMO 원료를 썼다면 예외없이 표시
      %p.desc-body__main
        ② 비의도적 혼입치 3%에서 0.9%로 낮추기(유럽 기준)
      %p.desc-body__main
        ③ 비의도적 혼입치 0.9% 보다 낮다면 NON-GMO 표시 허용
      %p.desc-body__annotation-title
        ※ 비의도적 혼입치
      %p.desc-body__annotation-body
        GMO 꽃가루가 날아와 섞이는 경우처럼 우연히 섞인 GMO 양이 유럽 기준처럼 0.9% 이하라면 Non-GMO 표시를 허용해 생산자 피해를 보호할 수 있는 기준
    %br
    .desc-title__second-wrapper
      %p.desc-title__second 입법 청원 일정
      .desc-body
        %p.desc-body__main
          · 2016년 8월 국회 입법 청원
        %p.desc-body__main
          · 20대 국회에서 GMO완전표시제가 제도화될 때까지
          %br
          &nbsp;&nbsp;지지 서명 캠페인 진행
