%section#project
  %section#intro
    .container
      = render 'intro'
  %section#description
    .container
      = render 'description'
  %section#petition
    .container
      #petition-form-panel
        = render 'petitions/form'
      #petition-list-panel
        = render 'petitions/list'

