section#project {

  section#intro {
    padding-top: 120px;

    background: #f3f3f3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #e5e5e5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #e5e5e5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #e5e5e5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #e5e5e5); /* Standard syntax */

    .intro-panel {
      text-align: center;
      .baggum-logo {
        margin-top: -70px;
        width: 120px;
      }
      .social-icon {
        margin-top: -70px;

        &__facebook {
          padding-right: 20px;
        }
        &__twitter {
          padding-right: 20px;
        }
        &__kas {

        }
      }

      .intro-title {
        margin-left: 360px;
        margin-right: 360px;
        padding-top: 10px;
        padding-bottom: 4px;
        font-size: 56px;
        font-weight: 600;
        background-color: #d0583b;
        color: #fff;
      }

      .intro-subtitle {
        font-size: 56px;
        font-weight: 600;
      }

      .intro-body {
        color: #9c9c9c;
        padding-top: 10px;
      }

      .intro-message {
        padding-top: 12px;
        font-style: italic;
        font-size: 20px;
        color: #638a73;
        .double-qoutation-left {
          padding-bottom: 6px;
          width: 18px;
        }
        .double-qoutation-right {
          margin-right: 10px;
          width: 18px;
        }
      }

      .intro-image {
        margin-top: -320px;
        margin-left: 62px;
        width: 92%;
      }

      .progress-panel {
        padding-top: 16px;
        padding-bottom: 36px;

        .petition-summary {
          font-size: 20px;

          .petition-count {
            color: #966fd6;
            font-weight: 600;
          }
        }

        .petition-bar-wrapper {
          width: 530px;
          display: inline-block;
          padding-bottom: 20px;
          .petition-percentage {
            margin-bottom: -4px;
            font-size: 28px;
            color: #966fd6;
            font-weight: 600;
          }
          .petition-goal {
            font-weight: 600;
            padding-top: 14px;
          }
          .petition-bar {
            width: 100%;
            display: inline-block;
            height: 18px;
            background-color: #fff;
            @media (max-width: 767px) {
              margin: 30px 14px 20px;
            }

            .petition-counted {
              height: 100%;
              background-color: #966fd6;
            }
          }
        }

        .petition-btn {
          padding: 12px 48px;
          background-color: #6144a3;
          color: #fff;
          font-size: 20px;
        }
      }
    }

  }

  section#description {

    .description-panel {
      text-align: center;
      padding-bottom: 24px;

      .description-wrapper {
        width: 530px;
        display: inline-block;
        text-align: left;
        padding-top: 40px;

        .desc-title {

          &__first {
            display: inline-block;
            vertical-align: top;
            padding: 10px 34px;
            margin-right: 20px;
            background-color: #f0f0f0;
            font-size: 16px;
            font-weight: 600;
          }
          &__second {
            display: inline-block;
            vertical-align: top;
            padding: 10px 24px;
            margin-right: 20px;
            background-color: #f0f0f0;
            font-size: 16px;
            font-weight: 600;
          }
        }

        .desc-title__second-wrapper {
          padding-top: 24px;
        }

        .desc-body {
          display: inline-block;
          width: 364px;

          &__main {
            font-weight: 600;
            margin-bottom: 4px;
          }

          &__annotation-title {
            font-size: 12px;
            margin-top: 14px;
            margin-bottom: 2px;
          }

          &__annotation-body {
            font-size: 12px;
            color: #9b9b9b;
          }
        }
      }
    }
  }

  section#petition {
    background-color: #f9f9f9;

    .petition-form-panel {
      text-align: center;

      .petition-wrapper {
        width: 530px;
        display: inline-block;
        text-align: left;
        padding-top: 40px;
        padding-bottom: 40px;

        label.error {
          padding-left: 12px;
          color: red;
        }
        input.error {
          border-color: red;
          color: red;
        }
        .petition-label {
          padding-left: 12px;
          color: #878787;
          &__policy {
            padding-left: 0;
            color: #878787;
          }
        }
        .petition-name {
          display: inline-block;
          width: 30%;
        }
        .petition-email {
          display: inline-block;
          width: 60%;
        }
        .petition-body {

        }
        .petition-btn-wrapper {
          text-align: center;

          .petition-btn {
            padding: 16px 114px;
            background-color: #6144a3;
            color: #fff;
            font-size: 30px;
            margin-top: 20px;
          }
        }

      }

      .modal-content {

        .modal-header {

        }
        .modal-title {

        }
        .modal-body {
          text-align: left;
          .indent {
            padding-left: 20px;
          }
          b {
            font-size: 16px;
          }
        }
      }
    }

    .petition-thanks-panel {
      text-align: center;
      padding-top: 100px;
      padding-bottom: 100px;

      .thanks-wrapper {
        width: 530px;
        display: inline-block;

        .petition-complete {
          &__title {
            padding-top: 6px;
            font-size: 18px;
          }
          &__message {
            color: #6144a3;
            font-size: 30px;
            padding-top: 14px;
            padding-bottom: 14px;
          }
        }

        .thanks-social-wrapper {
          img {
            width: 54px;
            margin-left: 5px;
            margin-right: 5px;
          }
        }
      }

    }
  }

  section#list {
    #petition-list-panel {
      text-align: center;

      .petition-panel {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 530px;
        display: inline-block;
        text-align: left;


        .list-title {
          color: #6144a3;
          margin-bottom: -14px;
        }
        .list-wrapper {
          padding-left: 10px;
          padding-right: 10px;

          .list-name {
            color: #966fd6;
            font-weight: 500;
            padding-right: 6px;
          }
          .list-body {
            font-weight: 500;
            padding-top: 4px;
          }
        }

        .petitions-pagination {
          text-align: center;
          color: #5d5d5d;
          text-align: center;
          font-size: 12px;

          .pagination-wrapper {
            text-align: center;

            .pagination li {
              padding-right: 5px;
              padding-left: 5px;
              font-size: 14px;
              a {
                float: initial;
                color: black;
                font-weight: 900;
                font-size: 12px;
              }
            }
          }
        }

      }
    }
  }

  section#footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: #f9f9f9;
    a {
      &:hover {
        text-decoration: none;
      }
    }

    .footer-panel {
      width: 560px;
      display: inline-block;

      .footer-icoop-ask {
        &__url {
          color: #966fd6;
        }
      }

      .icoop-logo {
        padding-right: 16px;
      }

      .bubble-banner {
        width: 100%;
        padding-top: 20px;
      }
    }
  }
}
